
<div class="assign-wrapper">
    <div class="grid">
        <div class="col-6">
            <div class="assign-data">
                <div class="title-line">
                    <span>Danh sách Salon</span>
                </div>
                <div class="assign-list">
                    <div class="assign-item--left" >
                        <div class="assign-item">
                            <div class="assign-item--left"> </div>
                        </div>
                        <div class="assign-item--detail">
                           
                        </div>
                    </div>
                    <div class="asign-item-search">
                        <input type="text" pInputText placeholder="Search" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="assign-tree">
                <form class="form-data" >
                    <div class="item">
                        <div class="item-label">Mã salon:</div>
                        <div class="item-value"></div>
                    </div>
                    <div class="item">
                        <div class="item-label">Số điện thoại:</div>
                        <div class="item-value"></div>
                    </div>
                    <div class="item">
                        <div class="item-label">Email:</div>
                        <div class="item-value"></div>
                    </div>
                    <div class="item">
                        <div class="item-label">Địa chỉ:</div>
                        <div class="item-value"></div>
                    </div>
                    <div class="trang-thai-hien-thi">
                        <div class="trangthai-title">
                            Trạng thái hiển thị
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
