<div class="header">
    <div class="header-left">
        <div class="header-left__menubot">
            <img src="../assets/img/menudot.png" alt="">
        </div>
        <div class="header-left__logo">Logo</div>
    </div>
    <div class="header-center">
            <div class="menu-list">
                <ng-container *ngFor="let menu of menus">
                    <div class="menu-item" [ngClass]="{active: selectedMenu.routerLink === menu.routerLink}" *ngIf="menu.visible" (click)="selectMenu(menu)">
                        {{menu?.label}}
                    </div>
                </ng-container>
                <div class="menu-item show-more" *ngIf="menus.length > 5">
                    <i class="pi pi-ellipsis-h"></i>
                     <div class="show-more-list" >
                        <ng-container *ngFor="let menu of menus" >
                            <div class="show-more-item" [ngClass]="{active: selectedMenu.routerLink === menu.routerLink}" *ngIf="!menu.visible" (click)="selectMoreMenu(menu)">
                                {{menu?.label}}
                            </div>
                        </ng-container>
                    </div> 
                </div>
            </div>
    </div>
    <div class="header-right">
        <div class="option">
           <i class="pi pi-cog " style="font-size: 2rem"></i>
        </div>
        <div class="notification"> 
            <i class="pi pi-bell" style="font-size: 2rem"></i>
        </div>
        <div class="account-name">
            <span> Đoàn</span>
        </div>
        <div class="account-avatar">
          <img src="../../assets/img/admin.png" alt="admin">
        </div>
        <div class="arrow"><i class="pi pi-angle-down"></i></div>
    </div>
</div>     
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>