<div class="header">
    <div class="header-left">
        <div class="header-left__menubot">
            <img src="../assets/img/menudot.png" alt="">
        </div>
        <div class="header-left__logo">Logo</div>
    </div>
    <div class="header-center">
        <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
        
    </div>
    <div class="header-right">
        <div class="img"><img src="../assets/img/menu-right.png" alt=""></div>
        <div class="arrow"><i class="pi pi-angle-down"></i></div>
    </div>
</div>     