
.app-header{
margin-top: 20px;
margin-bottom: 60px;
font-size: 30px;
color: #9ea1a5;
}
.app-list{
display: flex;
grid-gap:20px;
gap:20px;
justify-content: center;
}
.app-item{
  cursor: pointer;
}
.app-item-name{
font-size: 18px;
font-weight: 700;
color: black;
margin-top: 10px;   
text-align: center;
}