<div class="app-wrapper">
    <div class="app-header">
        Danh sách phiên bản
    </div>
    <div class="app-list">
        <div class="app-item">
           <img src="../../assets/img/app-item.png" alt=""> 
           <div class="app-item-name">
               App Salon
           </div>
        </div>
        <div class="app-item">
           <img src="../../assets/img/app-item.png" alt=""> 
           <div class="app-item-name">
               App Thợ
           </div>
        </div>
        <div class="app-item">
           <img src="../../assets/img/app-item.png" alt=""> 
           <div class="app-item-name">
               App User
           </div>
        </div>
    </div>
</div>