<div class="booking-manager">
    <div class="grid">
        <div class="col-6">
            <div class="left">
                <div class="add-booking">
                    <div class="left-title">
                        <p>Trạng thái:</p>
                    </div>
                    <div class="left-dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity2" optionLabel="name">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="right">
                <div class="right-title">Tìm kiếm theo tên__________________</div>
                <div class="right-body">
                    <div class="grid">
                        <div class="col-4">
                            <div class="date">
                                <div class="grid">
                                    <div class="col-6">
                                        <label for="icon">Từ ngày</label>
                                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                                    </div>
                                    <div class="col-6">
                                        <label for="icon">Đến ngày</label>
                                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" pInputText placeholder="Search">
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="restoredata">
                                        <p-button icon="pi pi-sync" iconPos="left"></p-button>
                                        <button pButton type="button" label="Lấy giá trị"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 booking-body">
            <div class="booking-sort">
                <div class="grid">
                    <div class="col-6">
                        Đã chọn ({{ multipleSelection.length }})  | Xuất Excel
                    </div>
                    <div class="col-6 ">
                        <div class="sort-columnd">
                            Tìm theo cột
                            <i class="pi pi-sort-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [value]="datafeedback" [scrollable]="true" scrollHeight="600px" [(selection)]="multipleSelection">
                        <ng-template pTemplate="header">
                            <tr>
                                <th><p-tableHeaderCheckbox ></p-tableHeaderCheckbox></th>
                                <th> Mã booking</th>
                                <th>Tên Salon </th>
                                <th>Tên thợ </th>
                                <th>Đánh giá Salon</th>
                                <th>Đánh giá thợ</th>
                                <th>Nội dung</th>
                                <th>Chức năng</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-datafeedback  >
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="datafeedback"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{datafeedback?.booking?.code}}
                                </td>
                                <td>
                                    {{datafeedback?.nameSalon}}
                                </td>
                                <td>
                                    {{datafeedback?.nameTech}}
                                </td>
                                <td>
                                    <p-rating [(ngModel)]="datafeedback.salonRate" [cancel]="false"></p-rating>
                                </td>
                                <td >
                                    <p-rating [(ngModel)]="datafeedback.technicianRate" [cancel]="false"></p-rating>
                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                    <button pButton type="button" label="Chi tiết"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="paginator flex justify-content-between">
                <div class="paginator-name">Tổng số: <b>{{totalRecord}}</b> bản ghi</div>
                <p-paginator [rows]="query.PageSize" (onPageChange)="paginate($event)" [totalRecords]="totalRecord" [rowsPerPageOptions]="[1, 5, 10,20,30]"></p-paginator>
            </div>
        </div>
    </div>
</div>