<div class="booking-manager">
    <div class="grid">
        <div class="col-6">
            <div class="left">
                <div class="left-title">
                    Danh sách thợ
                </div>
                <div class="add-booking">
                    <div class="left-button">
                        <button pButton type="button" label="Thêm Thợ " icon="pi pi-plus" routerLink="/them-tho"></button>
                    </div>
                    <div class="left-title">
                        <p-tabView (onChange)="handleChange($event)">
                            <p-tabPanel header="Tất cả">
                            </p-tabPanel>
                            <p-tabPanel header="Đang hoạt động">
                            </p-tabPanel>
                            <p-tabPanel header="Dừng hoạt động">
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="right">
                <div class="right-title">Tìm kiếm theo tên__________________</div>
                <div class="right-body">
                    <div class="grid">
                        <div class="col-4">
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" pInputText placeholder="Search" [(ngModel)]="query.Search">
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="restoredata">
                                        <p-button icon="pi pi-sync" iconPos="left"></p-button>
                                        <button pButton type="button" label="Lấy giá trị" (click)="getWorker()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 booking-body">
            <div class="booking-sort">
                <div class="grid">
                    <div class="col-6">
                        Đã chọn (0,0) | Xuất Excel
                    </div>
                    <div class="col-6">
                        <div class="sort-columnd">
                            Tìm theo cột
                            <i class="pi pi-sort-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [value]="dataworker">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th> Mã Thợ</th>
                                <th>Tên Thợ </th>
                                <th>Số điện thoại </th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Trạng Thái HĐ</th>
                                <th>Đánh giá trung bình </th>
                                <th>Chức năng</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-dataworker>
                            <tr>
                                <td>
                                   <p-tableCheckbox [value]="dataworker"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{dataworker?.code}}
                                </td>
                                <td>
                                    {{dataworker?.name}}
                                </td>
                                <td>
                                    {{dataworker?.phone}}
                                </td>
                                <td>
                                    {{dataworker?.email}}
                                </td>
                                <td >
                                    {{dataworker?.address}}
                                </td>
                                <td [style.color]="dataworker?.isActive?'green':'red'">
                                    {{dataworker?.isActive?'Online':'Offline'}}
                                </td>
                                <td >
                                    <p-rating [(ngModel)]="dataworker.rate" [cancel]="false"></p-rating>
                                </td>
                                <td >
                                    <button pButton type="button" label="Chi tiết" routerLink="/worker-detail/{{dataworker?.id}}"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <p-paginator [rows]="query.PageSize" (onPageChange)="paginate($event)" [totalRecords]="totalRecord" [rowsPerPageOptions]="[1, 5, 10,20,30]"></p-paginator>
        </div>
    </div>
</div>