<div class="booking-manager">
    <div class="grid">
        <div class="col-6">
            <div class="left">
                <div class="left-title">
                    Danh sách đơn thông báo
                </div>
                <div class="add-booking">
                    <div class="left-button">
                        <button pButton type="button" label="Thêm thông báo" icon="pi pi-plus"
                            routerLink="/them-thong-bao" class="btn-addbooking"></button>
                    </div>
                    <div class="left-title">
                        <p>Trạng thái:</p>
                    </div>
                    <div class="left-dropdown">
                        <p-dropdown [options]="cities" [(ngModel)]="query.type" optionLabel="name" optionValue="value">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="right">
                <div class="right-title">Tìm kiếm theo tên__________________</div>
                <div class="right-body">
                    <div class="grid">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" pInputText placeholder="Search">
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="restoredata">
                                        <p-button icon="pi pi-sync" iconPos="left"></p-button>
                                        <button pButton type="button" label="Lấy giá trị"
                                            (click)="getNotification()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 booking-body">
            <div class="booking-sort">
                <div class="grid">
                    <div class="col-6">
                        Đã chọn (0,0) | Xuất Excel
                    </div>
                    <div class="col-6 ">
                        <div class="sort-columnd">
                            Tìm theo cột
                            <i class="pi pi-sort-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [value]="datathongbao">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th> Tiêu đề thông báo</th>
                                <th>Mô tả thông báo </th>
                                <th>Thời gian tạo </th>
                                <th>Đối tượng </th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-datathongbao>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="datathongbao"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{datathongbao?.title}}
                                </td>
                                <td>
                                    {{datathongbao?.content}}
                                </td>
                                <td>
                                    {{datathongbao?.createdAt | date: 'dd/MM/yyyy' }}
                                </td>
                                <td>
                                    {{datathongbao?.type}}
                                </td>
                                <td [style.color]="datathongbao?.isActive?'green':'red'">
                                    {{datathongbao?.isActive? 'Chưa xóa':'Đã xóa'}}
                                </td>
                                <td>
                                    <button pButton type="button" label="Chi tiết" routerLink="/notificationmanagement/chi-tiet-thong-bao/{{datathongbao?.id}}"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="paginator flex justify-content-between">
                <div class="paginator-name">Tổng số <b>{{totalRecord}}</b> bản ghi</div>
                <p-paginator [rows]="query.PageSize" (onPageChange)="paginate($event)" [totalRecords]="totalRecord"
                    [rowsPerPageOptions]="[1, 5, 10,20,30]"></p-paginator>
            </div>
        </div>
    </div>
</div>