
<div class="assign-wrapper">
    <div class="grid">
        <div class="col-6">
            <div class="assign-data">
                <div class="title-line">
                    <span>Danh sách Salon</span>
                </div>
                <div class="assign-list">
                    <div class="assign-item--left" *ngFor="let item of salons">
                        <div class="assign-item">
                            <div class="assign-item--left"> {{item?.name}}</div>
                        </div>
                        <div class="assign-item--detail">
                            <button pButton type="button" label="Chi tiết" (click)="Getdetail(item)"></button>
                        </div>
                    </div>
                    <div class="asign-item-search">
                        <input type="text" pInputText placeholder="Search" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="assign-tree">
                <form class="form-data" >
                    <div class="item">
                        <div class="item-label">Mã salon:</div>
                        <div class="item-value">{{detail?.code}}</div>
                    </div>
                    <div class="item">
                        <div class="item-label">Số điện thoại:</div>
                        <div class="item-value">{{detail?.phone}}</div>
                    </div>
                    <div class="item">
                        <div class="item-label">Email:</div>
                        <div class="item-value">{{detail?.email}}</div>
                    </div>
                    <div class="item">
                        <div class="item-label">Địa chỉ:</div>
                        <div class="item-value">{{detail?.address}}</div>
                    </div>
                    <div class="trang-thai-hien-thi">
                        <div class="trangthai-title">
                            Trạng thái hiển thị
                        </div>
                        <div class="radio-group">
                            <div class="field-checkbox">
                                <p-radioButton name="status" value="hienthi" [(ngModel)]="status" inputId="ht"></p-radioButton>
                                <label for="ny">Hiển thị</label>
                            </div>
                            <div class="field-checkbox">
                                <p-radioButton   name="status" value="khonghienthi" [(ngModel)]="status" inputId="hr"></p-radioButton>
                                <label for="sf">Không hiển thị</label>
                            </div>
                            <button pButton type="button" label="Xóa"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
