
<div class="form">
    <div class="form-add">
        <div class="grid">
            <div class="col-8">
               <div class="grid">
                   <div class="col-7">
                        <div class="left">
                         <h3>Gán dữ liệu</h3>
                            <div class="title">   
                                Tên vai trò
                            </div>
                            <input type="text" pInputText class="input-gan" />                                                                              
                        </div>
                   </div>
                   <div class="col-5">
                       <div class="right">
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="tongquan" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
                            <label for="ny">Tổng quan</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quanlybooking" [(ngModel)]="selectedCities" inputId="sf"></p-checkbox>
                            <label for="sf">Quản lý booking</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quanlykhachhang" [(ngModel)]="selectedCities" inputId="la"></p-checkbox>
                            <label for="la">Quản lý khách hàng</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quanlysalon" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
                            <label for="ch">Quản lý Salon</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quanlytho" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
                            <label for="ch">Quản lý thợ</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quanlyvoucher" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
                            <label for="ch">Quản lý Voucher</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quantriapp" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
                            <label for="ch">Quản trị app</label>
                        </div>
                        <div class="field-checkbox">
                            <p-checkbox name="group1" value="quanlythongbao" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
                            <label for="ch">Quản lý thông báo</label>
                        </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="button">
    <div class="button-item">
        <button pButton type="button" label="Hủy"  ></button>
    </div>
    <div class="button-item">
        <button pButton type="button" label="Lưu"  ></button>
    </div>
    <div class="button-item">
        <button pButton type="button" label="Lưu & Thoát" ></button>
    </div>
</div>