<div class="menu-top">
    <div class="option-left">
        <a routerLink="/managementworker"><i class="pi pi-chevron-left"></i>Thêm Thợ</a>
    </div>
    <div class="option-center">
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>
    <div class="option-right">
        <a routerLink="/managementworker"><i class="pi pi-times"></i></a>
    </div>
</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div class="form-info">
    <div class="grid">
        <div class="col-7">
            <div class="title-line">
                Thông tin chung
            </div>
            <div class="info-item">
                <div class="lable">
                    Mã thợ:
                </div>
                <div class="info-input">
                    <input type="text" pInputText name="masalon"
                    [(ngModel)]="infotho.matho" #matho="ngModel" required
                    [ngClass]="{ 'is-invalid': f.submitted && matho.invalid }" >
                </div>
                <div *ngIf="f.submitted && matho.invalid">
                    <div *ngIf="matho.errors?.['required']">
                        <small>Trường này không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                    Tên thợ:
                </div>
                <div class="info-input">
                    <input type="text" pInputText name="tentho"
                    [(ngModel)]="infotho.tentho" #tentho="ngModel" required
                    [ngClass]="{ 'is-invalid': f.submitted && tentho.invalid }" >
                </div>
                <div *ngIf="f.submitted && tentho.invalid">
                    <div *ngIf="tentho.errors?.['required']">
                        <small>Trường này không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                    Số điện thoại:
                </div>
                <div class="info-input">
                    <input type="number" pInputText name="sodienthoai"
                    [(ngModel)]="infotho.sodienthoai" #sodienthoai="ngModel" required
                    [ngClass]="{ 'is-invalid': f.submitted && sodienthoai.invalid }" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </div>
                <div *ngIf="f.submitted && sodienthoai.invalid">
                    <div *ngIf="sodienthoai.errors?.['required']">
                        <small>Trường này không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                    Email:
                </div>
                <div class="info-input">
                    <input type="text" pInputText name="email"
                    [(ngModel)]="infotho.email" #email="ngModel" required email
                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }">
                </div>
                <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors?.['required']">
                        <small>Trường này không được để trống</small>
                    </div>
                    <div *ngIf="email.errors?.['email']">
                        <small>Sai định dạng email</small>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                    Latitude
                </div>
                <div class="info-input">
                    <input type="text" pInputText >
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                    Longtitude
                </div>
                <div class="info-input">
                    <input type="text" pInputText >
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                   Tỉnh/Thành phố
                </div>
                <div class="info-input">
                    <input type="text" pInputText >
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                   Quận/Huyện
                </div>
                <div class="info-input">
                    <input type="text" pInputText >
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                   Phường/Xã
                </div>
                <div class="info-input">
                    <input type="text" pInputText >
                </div>
            </div>
            <div class="info-item">
                <div class="lable">
                   Địa chỉ cụ thể
                </div>
                <div class="info-input">
                    <input type="text" pInputText >
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="info-image"> 
                <div class="title">
                    Ảnh bìa
                </div>
                <div class="info-cover">
                    <img src="../../../assets/img/hinh-dai-dien.png" alt="">
                </div>
            </div>
            <div class="info-image"> 
                <div class="title-avatar">
                    Ảnh avatar
                </div>
                <div class="info-cover">
                    <img src="../../../assets/img/hinh-dai-dien.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="cai-dat-trang-thai">
        <div class="title">
            Cài đặt trạng thái
        </div>
        <div class="radio">
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="checkin" [(ngModel)]="status" inputId="status3"></p-radioButton>
                <label for="city3">Hoạt động </label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="city" value="dahuy" [(ngModel)]="status" inputId="status4"></p-radioButton>
                <label for="city4">Dừng hoạt động</label>
            </div>
        </div>
    </div>
</div>
<div class="worker-action">
    <div class="btn-save">
        <button pButton type="button" label="Thoát"></button>
    </div>
    <div class="btn-exit">
        <button pButton type="submit" label="Lưu"></button>
    </div>
</div>
</form>