<div class="add-booking">
    <div class="grid">
        <div class="col-6">
            <div class="option-left">
                <a routerLink="/managementcustomer"><i class="pi pi-chevron-left"></i>Thêm khách hàng</a>
            </div>
        </div>
        <div class="col-6">
            <div class="option-right">
                <a routerLink="/managementcustomer"><i class="pi pi-times"></i></a>
            </div>
        </div>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="addbooking-body">
        <div class="customer-detail">
            <div class="customer-detail--common">
                    <h2>Khái báo thông tin chung</h2>
                    <div class="input-title">
                        Mã khách hàng
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText="sodienthoai" name="makhachhang"
                        [(ngModel)]="infokhachhang.makhachhang" #makhachhang="ngModel" required
                        >
                    </div>
                    <div *ngIf="f.submitted && makhachhang.invalid">
                        <div *ngIf="makhachhang.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title">
                        Tên khách hàng 
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText name="tenkhachhang"
                        [(ngModel)]="infokhachhang.tenkhachhang" #tenkhachhang="ngModel" required>
                    </div>
                    <div *ngIf="f.submitted && tenkhachhang.invalid">
                        <div *ngIf="tenkhachhang.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-text-chia">
                       <div class="grid">
                           <div class="col-4"> 
                            <div class="input-title">
                                Tỉnh/Thành phố
                            </div>
                        <p-dropdown [options]="thanhpho" optionLabel="name">
                        </p-dropdown></div>
                           <div class="col-4">
                            <div class="input-title">
                                Quận/Huyện
                            </div> <p-dropdown [options]="quan"  optionLabel="name">
                        </p-dropdown></div>
                           <div class="col-4">
                            <div class="input-title">
                                Xã/Phường
                            </div> <p-dropdown [options]="phuong" optionLabel="name">
                        </p-dropdown></div>
                       </div>
                    </div>
                    <div class="input-title">
                        Địa chỉ chi tiết
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText>
                    </div>
                    <div class="input-title">
                        Email
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText name="email"
                        [(ngModel)]="infokhachhang.email" #email="ngModel" required email
                        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }">
                    </div>
                    <div *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            <small>Sai định dạng email</small>
                        </div>
                    </div>
                    <div class="input-title" >
                        Số điện thoại
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText name="sodienthoai"
                        [(ngModel)]="infokhachhang.sodienthoai" #sodienthoai="ngModel" required>
                    </div>
                    <div *ngIf="f.submitted && sodienthoai.invalid">
                        <div *ngIf="sodienthoai.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title">
                        Ngày sinh
                    </div>
                    <div class="input-text">
                        <p-calendar [showIcon]="true" inputId="ngaycheckin" ></p-calendar>
                    </div>
            </div>
            <div class="custommer-detail--avatar">
                <img src="../../../assets/img/hinh-dai-dien.png" alt="">
                <div class="actions">
                    <div class="edit">Sửa</div>
                    <div class="devision">|</div>
                    <div class="delete">Xóa</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 booking-body">
        <div class="booking-sort">
            <div class="grid">
                <div class="col-6">
                    Dịch vụ sử dụng
                </div>
                <div class="col-6 ">

                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>STT</th>
                            <th> Mã dịch vụ</th>
                            <th>Tên dịch vụ </th>
                            <th>Lĩnh vực </th>
                            <th>Giá</th>
                            <th>Thành tiền(đ)</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr *ngFor="let item of addbooking">

                            <th>
                                {{item?.stt}}
                            </th>
                            <th>
                                {{item?.madichvu}}
                            </th>
                            <th>
                                {{item?.tendichvu}}
                            </th>
                            <th>
                                {{item?.linhvuc}}
                            </th>
                            <th>
                                {{item?.gia}}
                            </th>
                            <th>
                                {{item?.thanhtien}}
                            </th>
                            <th>
                                <a href=""><i class="pi pi-trash"></i></a>
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="button-event">
        <div class="button-right">
            <button pButton type="button" label="Hủy"></button>
        </div>
        <div class="button-left">
            <button pButton type="submit" label="Gửi yêu cầu"></button>
        </div>
    </div>
    </form>
</div>

