<div class="add-booking">
    <div class="dieu-huong">
        <div class="option-left">
            <a routerLink="/managementvoucher"><i class="pi pi-chevron-left"></i>Chi tiết Voucher</a>
        </div>
       <div class="option-center">
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
       </div>
        <div class="option-right">
            <a routerLink="/managementvoucher"><i class="pi pi-times"></i></a>
        </div>
    </div>
    <div class="customer-detail">
        <div class="customer-detail-info">
            <div class="customer-info--common">
                <div class="title-line">
                    <span>Thông tin chung</span>
                </div>
                <div class="form-data">
                    <div class="lable"> Mã Voucher:</div>
                    <div class="value"> {{detail?.code}}</div>
                </div>
                <div class="form-data">
                    <div class="lable"> Tên Voucher:</div>
                    <div class="value"> {{detail?.name}}</div>
                </div>
                <div class="form-data">
                    <div class="lable"> Mã Salon:</div>
                    <div class="value"> {{detail?.salonId}}</div>
                </div>
                <div class="form-data">
                    <div class="lable"> Tên Salon:</div>
                    <div class="value"> {{detail?.salonName}}</div>
                </div>
                <div class="form-data">
                    <div class="lable"> Ngày bắt đầu:</div>
                    <div class="value"> {{detail?.beginAt}}</div>
                </div>
                <div class="form-data">
                    <div class="lable"> Ngày kết thúc:</div>
                    <div class="value"> {{detail?.endAt}}</div>
                </div>
                <div class="form-data">
                    <div class="lable"> Giảm giá:</div>
                    <div class="value"> {{detail?.percentRatio}} %</div>
                </div>
            </div>
        </div>
        <div class="customer-detail-avatar">
            <img src="../../../assets/img/img_4.png" alt="">
        </div>
    </div>
    
    
    <div class="customer-actions">
        <div class="btn-edit">
            <button pButton type="button" label="Chỉnh sửa"></button>
        </div>
        <div class="btn-exit">
            <button pButton type="button" label="Thoát"></button>
        </div>
    </div>
</div>
