<div class="menu-top">
    
            <div class="option-left">
                <a routerLink="/managementvoucher"><i class="pi pi-chevron-left"></i>Thêm Voucher</a>
            </div>
            <div class="option-center">
                <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
            </div>
            <div class="option-right">
                <a routerLink="/managementvoucher"><i class="pi pi-times"></i></a>
            </div>
</div>
<div class="info-wrapper">
    <div class="info-common">
        <div class="title-line">
            <span class="name">Thông tin chung</span>
        </div>
        <div class="info-item">
            <div class="label">
                Mã voucher
            </div>
            <div class="info-input">
                <input type="text" pInputText > 
            </div>
        </div>
        <div class="info-item">
            <div class="label">
                Tên Voucher
            </div>
            <div class="info-input">
                <input type="text" pInputText > 
            </div>
        </div>
        <div class="info-item">
            <div class="label">
                Salon
            </div>
            <div class="info-input">
                <input type="text" pInputText > 
            </div>
        </div>
        <div class="info-item">
            <div class="label">
                Nội dung
            </div>
            <div class="info-input">
                <input type="text" pInputText > 
            </div>
        </div>
        <div class="info-item-chia">
            <div class="grid">
                <div class="col-6">
                    <div class="label">
                        Ngày bắt đầu:
                    </div>
                    <div class="info-input">
                        <input type="text" pInputText > 
                    </div>
                </div>
                <div class="col-6">
                    <div class="label">
                        Ngày kết thúc:
                    </div>
                    <div class="info-input">
                        <input type="text" pInputText > 
                    </div>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="label">
                Giảm(%)
            </div>
            <div class="info-input">
                <input type="text" pInputText > 
            </div>
        </div>
    </div>
    <div class="info-image">
        <img src="../../../assets/img/hinh-dai-dien.png" alt="">
    </div>
    <div class="form-item--content">
        <div class="title">Trạng thái hiển thị</div>
        
    </div>
</div>
<div class="custom-actions">
    <div class="btn-exit">
        <button pButton type="button" label="Hủy"  ></button>
    </div>
    <div class="btn-tieptuc">
        <button pButton type="button" label="Tiếp tục"></button>
    </div>
</div>