.booking-manager{
    padding: 24px;
    .left{
        margin-top: 50px;
        margin-left: 20px;
    }
    .left-button{
        margin-top: 20px;
    }
    .add-booking{
        display: flex; 
    }
    .left-title{
         padding: 20px;
    }
    .left-dropdown{
        padding: 20px;
    }
    
    .dropdown-center{
        gap:20px
     }

    .dropdown-item { 
        gap: 10px;
    }
  
    .date{
        margin-top: 20px;
    }
    .option{
        margin: 5px;
    }
   
    .option-left a{
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
     color: black;
    }
}



