
.them-linh-vuc{
    margin-top: 50px;
}
.option{
    margin-left: 100px;
    display: flex;
    justify-content: center;
}
.thong-tin{
    width: 120px;
    border-bottom: 3px solid black;
    font-size: 30px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-add{
  width: 800px;
  height: 600px;
  display: flex;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.03);
  border:1px solid rgb(233, 226, 226);
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}
.input-top{
    margin-top: 25px;
}
.input-bottom{
    margin-top: 25px;
}
.setup{
    margin-top: 250px;
}
.setup-radio{
    display: flex;
    margin-top: 10px;
}
.field-radiobutton{
    margin-left: 20px;
}
.button{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px
}
.button-item{
    margin-right: 50px;
}
a{
    text-decoration: none;
    color:black
}
input{
    width: 100%;
    margin-top: 20px;
}
small{
    color: red;
}
.float-input::after{
 content:"*";
 color:red;
}