<div class="add-booking">
    <div class="grid">
        <div class="col-6">
            <div class="option-left">
                <a routerLink="/report"><i class="pi pi-chevron-left"></i>Thêm booking</a> 
            </div>
        </div>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="addbooking-body">
        <div class="grid">
            <div class="col-4">
                <div class="thongtinchung">
                    <h2>Thông tin chung</h2>
                    <div class="input-title-required">
                    Tên salon
                    </div>
                    <div class="input-text">
                        <p-dropdown [options]="cities"  optionLabel="name" [editable]="true" name="tensalon"
                        [(ngModel)]="infobooking.tensalon" #tensalon="ngModel" [required]="true"
                        [ngClass]="{ 'is-invalid': f.submitted && tensalon.invalid }"></p-dropdown>
                    </div>
                    <div *ngIf="f.submitted && tensalon.invalid">
                        <div *ngIf="tensalon.errors?.required">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title-required">
                    Mã booking
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText name="mabooking"
                        [(ngModel)]="infobooking.mabooking" #mabooking="ngModel" required
                        [ngClass]="{ 'is-invalid': f.submitted && mabooking.invalid }"> 
                    </div>
                    <div *ngIf="f.submitted && mabooking.invalid">
                        <div *ngIf="mabooking.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title-required">
                    Thợ
                    </div>
                    <div class="input-text">
                        <p-dropdown [options]="tho"  optionLabel="tentho" ptionLabel="name" [(ngModel)]="infobooking.tentho" [editable]="true" name="tensalon"
                        [(ngModel)]="infobooking.tentho" #tentho="ngModel" [required]="true"
                        [ngClass]="{ 'is-invalid': f.submitted && tentho.invalid }"></p-dropdown>
                    </div>
                    <div *ngIf="f.submitted && tentho.invalid">
                        <div *ngIf="tentho.errors?.required">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title-required">
                    Ngày check in 
                    </div>
                    <div class="input-text">
                        <p-calendar [showIcon]="true" inputId="ngaycheckin" name="ngaycheckin"
                        [(ngModel)]="infobooking.ngaycheckin" #ngaycheckin="ngModel" [required]="true"
                        [ngClass]="{ 'is-invalid': f.submitted && ngaycheckin.invalid }"></p-calendar>
                    </div>
                    <div *ngIf="f.submitted && ngaycheckin.invalid">
                        <div *ngIf="ngaycheckin.errors?.required">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title-required">
                    Ngày check out
                    </div>
                    <div class="input-text">
                        <p-calendar [showIcon]="true" inputId="ngaycheckin"  name="ngaycheckout"
                        [(ngModel)]="infobooking.ngaycheckout" #ngaycheckout="ngModel" [required]="true"
                        [ngClass]="{ 'is-invalid': f.submitted && ngaycheckout.invalid }"  ></p-calendar>
                    </div>
                    <div *ngIf="f.submitted && ngaycheckout.invalid">
                        <div *ngIf="ngaycheckout.errors?.required">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title">
                    Mã giảm giá áp dụng
                    </div>
                    <div class="input-text">
                        <p-dropdown [options]="cities"  optionLabel="name"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="thongtinchung">
                    <h2>Thông tin khách hàng</h2>
                    <div class="input-title-required">
                    Tên khách hàng
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText name="tenkhachhang"
                        [(ngModel)]="infobooking.tenkhachhang" #tenkhachhang="ngModel" required
                        [ngClass]="{ 'is-invalid': f.submitted && tenkhachhang.invalid }"> 
                    </div>
                    <div *ngIf="f.submitted && tenkhachhang.invalid">
                        <div *ngIf="tenkhachhang.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title-required">
                    Số điện thoại
                    </div>
                    <div class="input-text">
                        <input type="number" pInputText name="sodienthoai"
                        [(ngModel)]="infobooking.sodienthoai" #sodienthoai="ngModel" required
                        [ngClass]="{ 'is-invalid': f.submitted && sodienthoai.invalid }" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"> 
                    </div>
                    <div *ngIf="f.submitted && sodienthoai.invalid">
                        <div *ngIf="sodienthoai.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                    </div>
                    <div class="input-title-required">
                    Email
                    </div>
                    <div class="input-text">
                        <input type="text" pInputText  name="email"
                        [(ngModel)]="infobooking.email" #email="ngModel" required email
                        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" > 
                    </div>
                    <div *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors?.['required']">
                            <small>Trường này không được để trống</small>
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            <small>Sai định dạng email</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="thongtinchung-top">
                    <h2>Tổng tiền</h2>
                    <div class="price">200.000</div>
                </div>
                <div class="thongtinchung-bottom">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="trangthaibk">
        <div class="grid">
            <div class="col-5">
                <div class="trangthaibooking">
                    <div class="trangthaibooking-title">
                        Trang thái booking
                    </div>
                    <div class="trangthaibooking-radio">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="hoanthanh" [(ngModel)]="status" inputId="status1"></p-radioButton>
                            <label for="city1">Hoàn thành </label>
                        </div>
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="choduyet" [(ngModel)]="status" inputId="status2"></p-radioButton>
                            <label for="city2">Chờ duyệt</label>
                        </div>
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="checkin" [(ngModel)]="status" inputId="status3"></p-radioButton>
                            <label for="city3">Check in </label>
                        </div>
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="dahuy" [(ngModel)]="status" inputId="status4"></p-radioButton>
                            <label for="city4">Đã  hủy</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="trangthaibooking">
                    <div class="trangthaibooking-title">
                        Trang thái đối soát
                    </div>
                    <div class="trangthaibooking-radio-right">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="dadoisoat" [(ngModel)]="status" inputId="status1"></p-radioButton>
                            <label for="city1">Đã đối soát </label>
                        </div>
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="chuadoisoat" [(ngModel)]="status" inputId="status2"></p-radioButton>
                            <label for="city2">Chưa đối soát</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 booking-body">
        <div class="booking-sort">
            <div class="grid">
                <div class="col-6">
                    Dịch vụ sử dụng
                </div>
                <div class="col-6 ">
                    
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>STT</th>
                            <th> Mã dịch vụ</th>
                            <th>Tên dịch vụ </th>
                            <th>Lĩnh vực </th>
                            <th>Giá</th>
                            <th>Thành tiền(đ)</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr *ngFor="let item of addbooking">
                           
                            <th>
                                {{item?.stt}} 
                            </th>
                            <th>
                                 {{item?.madichvu}} 
                            </th>
                            <th>
                                {{item?.tendichvu}} 
                            </th>
                            <th>
                                {{item?.linhvuc}} 
                            </th>
                            <th>
                             {{item?.gia}} 
                            </th>
                            <th>
                               {{item?.thanhtien}} 
                            </th>
                            <th>
                               <a href=""><i class="pi pi-trash"></i></a> 
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="button-event">
        <div class="button-right">
            <button pButton type="button" label="Hủy" ></button>
        </div>
        <div class="button-left">
            <button pButton type="submit" label="Gửi yêu cầu"  ></button>
        </div>
    </div>

</form>
<p-toast position="top-right"  [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
        </div>
    </ng-template>
</p-toast>