<div class="booking-manager">
    <div class="grid">
        <div class="col-6">
            <div class="left">
                <div class="left-title">
                    Danh sách khách hàng
                </div>
                <div class="add-booking">
                    <div class="left-button">
                        <button pButton type="button" label="Thêm khách hàng" icon="pi pi-plus" routerLink="/them-khach-hang"></button>
                    </div>
                    <div class="left-title">
                        <p-tabView (onChange)="handleChange($event)">
                            <p-tabPanel header="Tất cả">
                            </p-tabPanel>
                            <p-tabPanel header="Online">
                            </p-tabPanel>
                            <p-tabPanel header="Office">
                            </p-tabPanel>
                        </p-tabView>
                     </div> 
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="right">
                <div class="right-title">Tìm kiếm theo tên__________________</div>
                <div class="right-body">
                    <div class="grid">
                        <div class="col-4">
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" pInputText placeholder="Search" [(ngModel)] = "query.Search">
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="restoredata">
                                        <p-button icon="pi pi-sync" iconPos="left"></p-button>
                                        <button pButton type="button" label="Lấy giá trị" (click)=" getCustomer()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 booking-body">
            <div class="booking-sort">
                <div class="grid">
                    <div class="col-6">
                         Đã chọn ({{ multipleSelection.length }}) | Xuất Excel
                    </div>
                    <div class="col-6">
                        <div class="sort-columnd">
                        Tìm theo cột
                            <i class="pi pi-sort-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table [value]="datakhachhang" [scrollable]="true" scrollHeight="600px" [(selection)]="multipleSelection">
                        <ng-template pTemplate="header">
                            <tr>
                                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                <th> Mã Khách hàng</th>
                                <th>Tên khách hàng </th>
                                <th>Số điện thoại </th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Loại hình</th>
                                <th>Chức năng</th>
                            </tr>
                           
                        </ng-template>
                        <ng-template pTemplate="body" let-datakhachhang >
                            <tr class="p-selectable-row">
                                <td>
                                    <p-tableCheckbox [value]="datakhachhang "></p-tableCheckbox>
                                </td>
                                <td>
                                    {{datakhachhang?.code}}
                                </td>
                                <td>
                                    {{datakhachhang?.name}}
                                </td>
                                <td>
                                    {{datakhachhang?.mobile}}
                                </td>
                                <td>
                                    {{datakhachhang?.email}}
                                </td>
                                <td>
                                    {{datakhachhang?.address}}
                                </td>
                                <td [style.color]="datakhachhang?.isOnline?'green':'red'">
                                    {{datakhachhang?.isOnline?'Đang hoạt động':'Dừng hpạt động'}}
                                </td>
                                <td >
                                    <button pButton type="button" label="Chi tiết" routerLink="/customer-detail/{{datakhachhang?.id}}"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="paginator flex justify-content-between">
            <div class="paginator-tong"> Tổng số:<b>{{totalRecord}}</b>bản ghi</div>
            <p-paginator [rows]="query.PageSize" (onPageChange)="paginate($event)" [totalRecords]="totalRecord" [rowsPerPageOptions]="[1, 2, 5, 10,20,30]"></p-paginator>
            </div>
        </div>
    </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>