.left{
    margin-top: 121px;
    margin-left: 20px;
}
.left-button{
    margin-top: 20px;
}
.add-booking{
    display: flex; 
}
.left-title{
     padding: 20px;
}
.left-dropdown{
    padding: 20px;
}
.right-title{
    margin-top: 128px;
}
.date{
    margin-top: 20px;
}
.search{
    margin-top: 35px;
}
.restoredata{
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
}
.sort-columnd{
  float: right;
}

