<div class="booking-manager">
    <div class="grid">
        <div class="col-6">
            <div class="left">
                <div class="left-title">
                    Danh sách khách hàng
                </div>
                <div class="add-booking">
                    <div class="left-button">
                        <button pButton type="button" label="Thêm Voucher" icon="pi pi-plus" routerLink="/them-voucher"></button>
                    </div>
                    <div class="left-title">
                        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="right">
                <div class="right-title">Tìm kiếm theo tên__________________</div>
                <div class="right-body">
                    <div class="grid">
                        <div class="col-4">
                            <div class="date">
                                <div class="grid">
                                    <div class="col-6">
                                        <label for="icon">Từ ngày</label>
                                        <p-calendar [showIcon]="true" inputId="icon"[(ngModel)]="query.from" dateFormat="dd.mm.yy" ></p-calendar>
                                    </div>
                                    <div class="col-6">
                                        <label for="icon">Đến ngày</label>
                                        <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="query.to" dateFormat="dd.mm.yy"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" pInputText placeholder="Search" [(ngModel)]="query.Search">
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid">
                                <div class="col-12">
                                    <div class="restoredata">
                                        <p-button icon="pi pi-sync" iconPos="left"></p-button>
                                        <button pButton type="button" label="Lấy giá trị" (click)="getVoucher()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 booking-body">
            <div class="booking-sort">
                <div class="grid">
                    <div class="col-6">
                        Đã chọn (0,0) | Xuất Excel
                    </div>
                    <div class="col-6">
                        <div class="sort-columnd">
                            Tìm theo cột
                            <i class="pi pi-sort-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-table>
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th> Ảnh</th>
                                <th> Mã Voucher</th>
                                <th>Tên Voucher </th>
                                <th>Salon </th>
                                <th>Nội dung</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày hết hạn</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                            <tr *ngFor="let item of datavoucher">
                                <th>
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>
                                 <img [src]= "'../../assets/img/'+item.img" alt="">
                                </th>
                                <th>
                                    {{item?.code}}
                                </th>
                                <th>
                                    {{item?.name}}
                                </th>
                                <th>
                                    {{item?.salonName}}
                                </th>
                                <th>
                                    {{item?.content}}
                                </th>
                                <th>
                                    {{item?.beginAt}}
                                </th>
                                <th>
                                    {{item?.endAt}}
                                </th>
                                <th [style.color]="item.isActive? 'green':'red'" >
                                    {{item.isActive?'Online':'Offline'}}
                                </th>
                                <th>
                                    <button pButton type="button" label="Chi tiết" routerLink="/chi-tiet-voucher/{{item?.id}}"></button>
                                </th>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <p-paginator [rows]="query.PageSize" (onPageChange)="paginate($event)" [totalRecords]="totalRecord" [rowsPerPageOptions]="[1, 5, 10,20,30]"></p-paginator>
        </div>
    </div>
</div>
