.booking-manager {
    padding: 24px;
    .left{
        margin-top: 50px;
    }    
    .right-title{
        margin-top: 65px;
    }
    .date{
        margin-top: 20px;
    }
  
    .restoredata{
        display: flex;
        margin-top: 35px;
        justify-content: space-around;
    }
    .sort-columnd{
      float: right;
    }
 
    .option-left a{
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
     color: black;
    }
}



